<div class="hkb_pop_up" id="pay_way">

    <div class="hkb_pop_up_main">

        <div class="pop_top">

            <div class="pop_title">选择优先支付方式</div>

            <div class="pop_cancel"></div>

            <div class="pop_line"></div>

        </div>

        <div class="pop_main">

            <div class="hkb">
                <img src="../../images/hkb_card.png">会员卡支付
            </div>

            <div class="wechat"><img src="../../images/wechat.png">微信支付</div>

            <div></div>

        </div>

    </div>

    <div class="hkb_pop_up_bg">

    </div>

</div>

<script>

    payShow=new hkbShowPop({'ele':'pay_way'})


</script>