
.hkb_codes_background {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 2;

  .codes_background_color {

    .hkb_codes_card {

      width: 85%;
      padding: 10px 0 60px 0;
      background: white;
      border-radius: 15px;
      margin: 0 auto;
      box-shadow: 0 2px 3px #E9E9E9;

      .codes_title {

        color: #4189e7;
        font-size: 16px;
        padding-top: 10px;

      }

      #QR_code {
        position: relative;
        width: 220px;
        height: 220px;
        margin: 30px calc(~'(100% - 220px)/2');
        img {
          width: 100%;
          height: 100%;
        }
      }
      .logo_QR{
        position: absolute;
        top: calc(~'(100% - 80px)/2');
        left: calc(~'(100% - 70px)/2');
        width: 70px;
        height: 70px;
        background: #fff;
        img{
          width: 100%;
          height: 100%;
        }
      }

      .codes_line {
        margin-top: 20px;
        border: .8px dashed;
        color: #bbd880;

      }
    }

    .codes_circle {
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;

      .codes_circle_left {
        width: 2rem;
        height: 2rem;
        background: #9ac53b;
        border-radius: 50%;
        margin: -80px 0 0 10px;

      }

      .codes_circle_right {

        width: 2rem;
        height: 2rem;
        background: #9ac53b;
        border-radius: 50%;
        margin: -80px 10px 0 0;

      }

    }

    .codes_all {
      width: 100%;
      padding: 0 80px;
      box-sizing: border-box;
      position: absolute;
      bottom: 15px;
      left: 0;

      .codes_wechat {
        img{
          width: 26px;
          height: 24px;
          vertical-align: middle;
          padding-right: 5px;
        }

      }
      .codes_change {
        img{
          width: 15px;
          height: 15px;
          vertical-align: middle;
          padding-right: 5px;
        }
        span{
          color: #4189e7;
        }
      }

    }
  }
}

.hkb_codes_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(bottom, #8abc23, #9ac53b, #acd163, #c4dc81);
  z-index: 1;
}
