.hkb_cards_holder {
  position: relative;
  margin: 15px;
  //background: -webkit-linear-gradient(right, #8abc23, #9ac53b, #acd163, #c4dc81);
  background: #fff;
/*  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;*/
  border-radius: 10px;
  color: #4a4a4a;
  overflow: hidden;
  .card_content {
    padding: 15px 5px 10px 10px;
    .content_left {
      width: calc(~'100% - 60px');
      .business_pic {
        border: 1px solid #ddd;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 5px;
        img {
          position: relative;
          left: -18px;
          width: calc(~'100% / 33 * 55');
          height: 55px;
        }

      }
      .content_right{
        width: calc(~'100% - 65px');
        p:first-child {
          font-size: 14px;
          min-height: 32px;
          line-height: 16px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
        }
        p+p{
          margin-top: 5px;
        }
        span {
          font-size: 16px;
        }
      }


    }

    .recharge {
      position: relative;
      width: 60px;
      font-size: 12px;
      color: #82bc3f;
      p {
        text-align: center;
        img {
          width: 37px;
          height: 37px;
        }
      }
      &:before {
        content: '';
        position: absolute;
        left: -2px;
        right: 0;
        border-left: 1px dashed #c6e19a;
        width: 1px;
        height: 100%;
        opacity: .6;
      }
    }
    &:active{
      opacity: .8;
    }
  }

  .card_border {
    background: url("../images/card_border2.png");
    height: 33px;
    background-size: 100%;
    background-repeat: repeat-x;
    color: #fff;
    padding: 0 15px;
    div{
      line-height: 35px;
      img{
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }
    &:active{
      opacity: .9;
    }
  }
  & a{
    color: #4a4a4a;
  }
}
