<div class="hkb_cards_holder hkb_shadow">
    <a class="card_content hkb_alignment_center" href="../hkb_cardrechange/card_rechange.html">
        <div class="content_left hkb_alignment_left">
            <div class="business_pic"><img src="<%=picture%>"></div>
            <div class="content_right">
                <p><%=goodsname%></p>
                <p>余额：￥<span><%=price%></span></p>
            </div>
        </div>
        <div class="recharge">
            <p><img src="../../images/card_rechange.png"></p>
            <p>点击充值</p>
        </div>

    </a>
    <a class="card_border hkb_alignment_center" href="../hkb_bill/hkb_bill.html">
        <div>查看账单</div>
        <div><img src="../../images/card_arrow.png"></div>
    </a>
</div>
