<style>

    button{

        display: block;
        height:150px;
        width:150px;

    }

</style>

<button onclick="show1.show()">点击展开1</button>

<button onclick="show2.show()">点击展开2</button>


<div class="hkb_pop_up" id="demo1">

    <div class="hkb_pop_up_main">

        <div class="pop_top">

            <div class="pop_title">请选择1</div>

            <div class="pop_cancel"></div>

            <div class="pop_line"></div>

        </div>

        <div class="pop_main">

        </div>

    </div>

    <div class="hkb_pop_up_bg">

    </div>

</div>

<div class="hkb_pop_up" id="demo2">

    <div class="hkb_pop_up_main">

        <div class="pop_top">

            <div class="pop_title">请选择2</div>

            <div class="pop_cancel"></div>

            <div class="pop_line"></div>

        </div>

        <div class="pop_main">

        </div>

    </div>

    <div class="hkb_pop_up_bg">

    </div>

</div>

<script>

    show1=new hkbShowPop({'ele':'demo1'})

    show2=new hkbShowPop({'ele':'demo2'})

</script>