<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>注 册</title>
</head>
<body style="background: white">


<%-include('../../component/hkb_register/hkb_main_register.ejs')%>


</body>
</html>