<!--个人信息-->


<div class="hkb_account_details">

   <div class="hkb_account_background">

       <div class="account_background_big"><img src="../../images/hkb_background_big.png"></div>



   <div class="hkb_account_information">

      <div class="account_background_small"><img src="../../images/hkb_mine_background.png"></div>


     <div class="account_information_mime">
         <div class="account_information_appear"><img src="../../images/hkb_head_appear.png"></div>

         <div class="account_information_name">橙子橙</div>

         <div class="account_information_tel">136****6269</div>
     </div>


   </div>

   </div>


</div>



<!--余额详情-->


<div class="hkb_account_balance">

    <div class="hkb_available_balance">

        <div class="balance_text">可用余额（元）</div>
        <div class="balance_sum">148.80</div>

    </div>

    <a class="hkb_available_balance button" href="#">

        <div class="balance_text">余额明细</div>
        <div class="balance_go" ><img src="../../images/hkb_account_go.png"></div>

    </a>


</div>

