<!--服务-->


<div class="hkb_account_service">

    <div class="hkb_available_balance">

        <div class="balance_text">服务</div>

    </div>



    <div class="hkb_service_type">


        <a class="service_type_main" href="#">

         <div class="service_icon mass"><img src="../../images/hkb_mine_mass.png"></div>
         <div class="service_title">大众点评</div>

        </a>


        <a class="service_type_main" href="#">

            <div class="service_icon second" ><img src="../../images/hkb_mine_hungry.png"></div>
            <div class="service_title hungry">饿了么</div>

        </a>

        <a class="service_type_main" href="#">

            <div class="service_icon"><img src="../../images/hkb_mine_meituan.png"></div>
            <div class="service_title meituan">美团</div>

        </a>

    </div>






</div>

