<!-- 查看地址 -->

<div class="hkb_address_location">


    <div class="hkb_address">

    <div class="address_images">
         <img src="../../images/seller.png"/>
   </div>
    <div class="address_star">
        <div class="address_text">合村日本料理(虹桥店)文案文案文案文案文案文案文案文案文案文案文案</div>
        <div class="star">
            <!-- 全星星 star_on;半星星 star_half;吴星星 star_off-->
            <span class="star_on"></span>
            <span class="star_on"></span>
            <span class="star_on"></span>
            <span class="star_half"></span>
            <span class="star_off"></span>
        </div>
        <div class="address_life">生活服务</div>

    </div>

     </div>

   <div class="address_location" id="container_map" tabindex="0"></div>

</div>
