<!-- 查看地址 -->

<div class="hkb_address_location">


    <div class="hkb_address">

    <div class="address_images">
         <img src="../../images/seller.png"/>
   </div>
    <div class="address_star">
        <div class="address_text">合村日本料理 ( 虹桥店 )</div>
        <img src="../../images/nearby_starOn.png"/>
        <img src="../../images/nearby_starOn.png"/>
        <img src="../../images/nearby_starOn.png"/>
        <img src="../../images/nearby_starHalf.png"/>
        <img src="../../images/nearby_starOff.png"/>
        <div class="address_life">生活服务</div>

    </div>

     </div>

   <div class="address_location">
    <img src="../../images/address.jpg"/>
  </div>

</div>