<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>确认买单</title>
</head>
<body style="">


<%-include('../../component/hkb_confirm/hkb_main_confirm.ejs')%>


</body>
</html>