.hkb_money_amount {
  background: white;
  padding: 8px 8px;
  margin: 20px 15px 0 15px;
  border-radius: 5px;
  border: 2px solid #9ac53b;

  .money_squareness {
    font-size: 14px;

  }

  .money_images {
    width: 100%;
    height: 100%;
    padding: 15px 40px 15px 0;



  img {
    width: 8%;
  }


}

  .money_line{

    hr{
      height: 1px;
      background: white;
      border: none;
      border-top: 1px solid #bbbbbb;

    }

  }

  .money_text1{
    color: #bbbbbb;
    padding-top: 8px;

  }

}
