
<div class="hkb_cartoon_page_404">

    <!--背景-->

    <div class="hkb_cartoon_background_404">


        <div class="hkb_cartoon_flame_404"></div>


        <div class="hkb_cartoon_rocket_404"></div>


        <div class="hkb_cartoon_404_404">

            <p>404</p>

        </div>


        <div class="hkb_cartoon_cloud_01"></div>


        <div class="hkb_cartoon_cloud_02"></div>


        <div class="hkb_cartoon_404_text">

            <div>
                <p>很遗憾</p>
                <p>您访问的页面去太空啦..</p>
            </div>

        </div>




    </div>



    <a class="hkb_cartoon_key_404" href="">

        <span>刷新页面</span>

    </a>



</div>