
.confirm_card_pay{
  background: white;
  margin: 15px 15px 0 15px;
  border-radius: 5px;
  box-shadow: 0 2px 3px #E9E9E9;



  .card_seller{
    width: 100%;
    height: 100%;
    display: flex;
    padding-top: -10px;


    .confirm_card_seller {

      padding: 20px 15px;

      img {
        width: 40px;

      }
    }
    .confirm_card_text {

      letter-spacing: .5px;
      font-size: 14px;
      padding: 30px 0;
      color: #8a8a8a;


    }
  }
  hr {
    margin-top: -20px;
    transform: scaleY(0.8);
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid #e5e5e5;
  }

  .card_confirm_text{
    color: #f39700;
    padding: 10px 0 20px 70px;
    font-size: 12px;
letter-spacing: .5px;



  }
}
