


<div class="confirm_card_pay">


    <div class="card_seller">
        <div class="confirm_card_seller">
            <img src="../../images/seller.png"/>
        </div>

        <div class="confirm_card_text">会员卡支付-合村日本料理</div>

    </div>
    <hr/>

    <div class="card_confirm_text">会员卡支付余额仅剩100.00元，买卡立享优惠</div>




</div>