<!--支付弹出框-->
<div class="pay_pasd_box">
    <div class="box_main">
        <div class="title">
            <span>请输入支付密码</span>
            <span class="pay_close" id="payPWClose"></span>

        </div>
        <div class="money_num">
            <span>￥</span><span>100.00</span>
        </div>
        <div class="pasd_show">

            <div class="pasd_box" id="pasdBox"><span></span><span></span><span></span><span></span><span></span><span></span></div>
            <div class="num_box" id="numBox"></div>
            <input class="pasd_input" id="pasd_input" value="">
        </div>
    </div>
    <div class="box_gray"></div>
</div>


<script>




    /*弹出数字键盘*/
    var hkbkeybroad = new hkbpswKeybroad.keyBroadShow({
     'hideButton': 'pay_close',   //其他的关闭按钮
     'showNumEle': 'numBox',   //点击出现键盘的元素，并且存储数字，ID选择器
     'saveNumEle': 'num_box',  //用于显示当前金额的值的元素，用于判断光标，class选择器
     'clearButton': false,       //清除数字按钮
     'saveInput': 'pasd_input',   //存入键盘的值，input元素的class选择器
     'MaxNum': '6', //键盘可以输入的最大位数
        Fn:function(){   //输入密码之后所做的function

            alert('此时判断密码');
        }

     });


        document.getElementById('confirm_next').addEventListener('click', passWordBox.passWordBoxShow, false);

        document.getElementById('payPWClose').addEventListener('click', passWordBox.passWordBoxHide, false);






</script>