
<!-- 确认买单 -->

<div class="hkb_confirm_seller">
    <!-- 店铺信息-->
    <div class="hkb_confirm">
        <div class="confirm_seller">
            <img src="../../images/seller.png"/>
        </div>
        <div class="confirm_text">合村日本料理 ( 虹桥店 )</div>
    </div>
    <!-- 付款金额 -->
    <div class="hkb_confirm_money">
            <div class="confirm_money_title">支付金额（元）</div>
            <div class="confirm_money_text">145.90</div>
    </div>
</div>

