<!-- 会员卡充值 -->

<div class="hkb_card_seller">


    <div class="hkb_seller">

        <div class="card_seller">
               <img src="../../images/seller.png"/>
        </div>

        <div class="card_text">合村日本料理 ( 虹桥店 )</div>

    </div>
    <hr/>



<div class="hkb_card_money">
      <div class="card_money">
            <div class="card_money_title">支付金额（元）</div>
            <div class="card_money_text">145.90</div>
      </div>
    <hr/>
</div>

      <div class="codes_seller_message">
            <div class="seller_message_title">商品信息</div>
            <div class="seller_message_text"><span>合村日本料理200元面额储值面卡</span><span>x1</span></div>


      </div>



</div>

