<!--支付方式-->


<div class="hkb_pay">
    <div class="hkb_pay_icon">

        <img src="../../images/xin.png"/>
        <span>支付方式</span>

    </div>

    <div class="pay_mode">

         <div class="pay_wechat">

             <div class="pay_seller">

             <img src="../../images/wechat.png">
             <div class="pay_text">微信支付</div>

             </div>

             <div class="pay_choose"><img src="../../images/choose.png"/> </div>


         </div>

        <hr/>

    <div class="pay_choose_bank">
        <img src="../../images/bank.png"/>
        <div class="bank_text">中国农业  储蓄卡（0805）</div>

    </div>


        <hr/>

    <div class="pay_membership">
        <img src="../../images/hkb.png"/>
        <div class="membership_text">会员卡支付</div>

    </div>
    </div>

</div>


<div class="card_next" >

    <a class= href="#"><span>确认支付</span>

    </a>

</div>
