<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>我的卡包</title>
</head>
<body>

<%-include('../../component/hkb_cards_holder/main_hkb_cards_holder.ejs')%>


</body>
</html>