.hkb_register_inputlist {

  padding: 0 16px 0 16px;
  margin-top: 25px;

  .register_phone {
    display: flex;
    justify-content: space-between;
    }
    img {
      width: 15px;
      vertical-align: middle;
      padding-right: 20px;

    }
    input.input_phone_icon {

      color: #4a4a4a;
      font-size: 14px;
      letter-spacing: 1px;
      border: 0;
      outline: 0;
      -webkit-tap-highlight-color: transparent;
      -webkit-appearance: none;
      background-color: transparent;


      }

    .input_phone_active {

      font-size: 14px;
      border-radius: 5px;
      width: 26%;
      border: 1px solid #f39700;

      .phone_active_text {
        color: #f39700;
        text-align: center;
        padding-top: 1px;
        font-size: 14px;

      }
    }

  hr {
    margin-top: 5px;
    transform: scaleY(0.8);
    width: 100%;
    height: 1px;
    border: none;
    border-top: 1px solid #e5e5e5;

  }

  .register_pen {
    padding-top: 10px;

    label {
      display: block;
      height: 30px;

      img {
        width: 15px;
        vertical-align: middle;
        padding-right: 20px;

      }
      input.input_pen_icon {
        padding: 10px 0 10px 0;
        color: #4a4a4a;
        font-size: 14px;
        letter-spacing: 1px;
        border: 0;
        outline: 0;
        -webkit-tap-highlight-color: transparent;
        -webkit-appearance: none;
        background-color: transparent;


      }
    }



  }
  .register_key{
    padding-top: 10px;

    label{
      display: block;
      height: 30px;


    img{

      width: 15px;
      vertical-align: middle;
      padding-right: 20px;

    }
    input.input_key_icon{

      padding: 10px 0 10px 0;
      color: #4a4a4a;
      font-size: 14px;
      letter-spacing: 1px;
      border: 0;
      outline: 0;
      -webkit-tap-highlight-color: transparent;
      -webkit-appearance: none;
      background-color: transparent;

    }
  }
  }



  .register_input_repeat {
    padding-top: 10px;
    padding-left: 38px;
    color: #f39700;
    font-size: 14px;
  }
}




