<!-- 注册点击 -->

<div class="hkb_register_inputlist">

    <!-- 手机号码 -->

<div class="register_phone">
    <label >
        <img src="../../images/icon1.png"/>
        <input class="input_phone_icon" type="text" pattern="[0-9]*" placeholder="请输入手机号码" maxlength="11">
    </label>

        <div class="input_phone_active">
            <div class="phone_active_text">获取验证码
    </div>

</div>


</div>
    <hr/>

    <!-- 验证码 -->

    <div class="register_pen">
        <label >
           <img src="../../images/icon2.png"/>
           <input class="input_pen_icon" type="text" pattern="[0-9]*" placeholder="请输入验证码" maxlength="6">
      </label>
    </div>
    <hr/>

    <!-- 密码 -->

    <div class="register_key">
        <label>
           <img src="../../images/icon3.png"/>
           <input class="input_key_icon" type="password" pattern="[0-9]*" placeholder="请输入6位数字交易密码" maxlength="6">

        </label>
    </div>
    <hr/>

     <div class="register_input_repeat">* 交易密码长度为6位数字</div>


</div>
