<!-- 注册LOGO -->


<div class="hkb_register">

    <div class="hkb_register_top">

        <div class="register_background">
               <img src="../../images/register.jpg"/>
               </div>

            <div class="register_circle">
                <div class="register_logo">

                    <img src="../../images/hkb_logo.png"/>
               </div>

         </div>

    </div>

</div>