<!-- 支付成功 -->

<div class="hkb_pay_animation">

    <!--成功动画-->

    <div class="pay_animation_right">

        <div class="swal2-icon swal2-success animate">

            <span class="line tip animate-success-tip"></span>

            <span class="line long animate-success-long"></span>

            <div class="placeholder"></div>

            <div class="fix"></div>

        </div>

    </div>
    <div class="hkb_pay_text">付款成功</div>

    <!--关闭-->

    <div class="hkb_button_pay" >

        <a class="" href="#"><span>关闭</span>

        </a>

    </div>
</div>

