<!-- 支付成功 -->

<div class="pay">
    <div class="pay_circle hkb_alignment_center">

         <div class="hkb_pay">

             <div class="pay_duigou  hkb_alignment_center"></div>

         </div>

            <div class="hkb_pay_text">付款成功</div>


</div>

    <a  href="#"><span>关闭</span></a>

</div>
