<!-- 会员卡-->

<!--Banner1-->

<div class="hkb_membership_card">

  <!-- list 1-->

    <a class="hkb_membership_banner1" href="javascript:">



        <div class="hkb_banner1_images"><img src="../../images/hkb_banner_1.jpg"></div>

        <div class="seller_logo_1"><img src="../../images/hkb_logo_1.png"></div>

        <div class="hkb_banner1_background">
            <div class="hkb_banner1_text"><img src="../../images/hkb_house_1.png"> 烟波亭</div>
            <div class="banner1_next"><img src="../../images/hkb_next.png"></div>
        </div>


    <div class="banner1_go">
        <div class="banner1_go_text">GO</div>
    </div>



</a>

    <!-- list 2-->


    <a class="hkb_membership_banner1" href="javascript:">



        <div class="hkb_banner1_images"><img src="../../images/hkb_banner_2.jpg"></div>

        <div class="seller_logo_1"><img src="../../images/hkb_logo_2.png"></div>

        <div class="hkb_banner1_background">
            <div class="hkb_banner1_text"><img src="../../images/hkb_house_1.png"> 大食代</div>
            <div class="banner1_next"><img src="../../images/hkb_next.png"></div>
        </div>


        <div class="banner1_go">
            <div class="banner1_go_text">GO</div>
        </div>



    </a>


    <!-- list 3-->


    <a class="hkb_membership_banner1" href="javascript:">



        <div class="hkb_banner1_images"><img src="../../images/hkb_banner_3.jpg"></div>

        <div class="seller_logo_1"><img src="../../images/hkb_logo_3.png"></div>

        <div class="hkb_banner1_background">
            <div class="hkb_banner1_text"><img src="../../images/hkb_house_1.png"> 深夜食堂</div>
            <div class="banner1_next"><img src="../../images/hkb_next.png"></div>
        </div>


        <div class="banner1_go">
            <div class="banner1_go_text">GO</div>
        </div>



    </a>




</div>

