

<div class="hkb_help">

    <!-- 标题 -->

    <div class="help_title">汇卡宝使用指引</div>

    <!-- 付款 -->

    <div class="help_step">
        <div class="step_title"><span class="red">付款：</span>微信扫一扫商户台卡收款码</div>
        <div class="help_operation step_1"><img class="" src="../../images/help_step_1.png"></div>
    </div>

    <!-- 购卡-->

    <div class="help_step">
        <div class="step_title"><span class="red">购卡：</span>点击<span class="org">优惠</span>，选择商家购买<span class="org">会员卡</span></div>
        <div class="help_operation step_2"><img class="step_2" src="../../images/help_step_2.png"></div>
    </div>


    <div class="tip">付款请认准汇卡宝商户收款二维码</div>

</div>