<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>输入金额</title>
</head>
<body>

<%-include('../../component/hkb_money/hkb_main_money.ejs')%>


</body>
</html>