<!-- 查看账单 -->


<div class="hkb_refresh">
    <span class="icon">↓</span>
    <span>下拉刷新</span>
</div>

<div class="hkb_bill_content">
    <div class="hkb_bill_check">



        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/consumption.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost">-15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/consumption.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  消费快捷消费快捷消费快捷消费快捷消费快捷消费快捷消费快捷消费快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost">-15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/consumption.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost">-15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/consumption.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost">-15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>

        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>
        <div class="bill_check_all">


            <div class="bill_check">

                <div class="bill_images"><img src="../../images/recharge.png"/></div>

                <div class="bill_check_text">
                    <div class="bill_text">合村日本料理  快捷消费</div>
                    <div class="bill_time">17-05-23  18:00</div>
                </div>
            </div>

            <div class="bill_money">
                <div class="check_cost_red">+15.00</div>
                <div class="check_balance">余额: 1,000.00</div>

            </div>

        </div>


    </div>
    <div class="bill_check_none">
        <span>没有更多数据了</span>

    </div>
</div>


<script>

    //下拉刷新
    moveRefresh.init({
        fn:function(){
            alert('此时刷新')
        }
    })



    //异步加载
    jfLazyLoading.ajaxLoadInit({

        "bottomDistance":"50",//距离底部的距离，触发事件，单位省略

        fn:function(){//触发的脚本

            jfLazyLoading.ajaxContentInit({//触发的脚本(动态添加元素)

                listdata:
                {
                    "src": "../../images/recharge.png",//充值消费图标
                    "billtext": '合村日本料理 快捷消费',//消费文案
                    "time":'17-05-23 18:00',//消费时间
                    'pay':true,//判断属于充值或者消费。false为充值，true为消费
                    "money": "-15",//消费金额或者充值金额
                    "banlace": "10000"//余额
                }

            })


        }



    })


</script>