<a class="hkb_menbers_card hkb_alignment_center hkb_shadow">

    <div class="card_content hkb_alignment_left">
        <span><img src='<%=picture%>'></span>
        <div>
            <p><%=goodsname%></p>
            <p>￥<%=price%><span>优惠:￥<%=discount%></span></p>
        </div>
    </div>
    <div class="buy_btn">
        <span>购买</span>
    </div>
</a>