<div class="hkb_address_phone hkb_alignment_center hkb_shadow">

    <div class="hkb_address hkb_alignment_left">
        <img src="../../images/detail_loaction.png">
        <span>淮海路555号汇京国际广场1层109-112室</span>
    </div>

    <div class="phone"><img src="../../images/detail_phone.png"></div>

</div>