<div class="hkb_information">
    <div class="name">合村日本料理（虹桥路店）</div>
    <div class="hkb_alignment_center">
        <div class="star">
            <span class="star_on"></span>
            <span class="star_on"></span>
            <span class="star_on"></span>
            <span class="star_half"></span>
            <span class="star_off"></span>
        </div>
        <div><span class="sort">生活服务</span>已购<span>13229</span>次</div>
    </div>
</div>