<div class="hkb_address_phone hkb_alignment_center hkb_shadow">

    <a class="hkb_address hkb_alignment_left" href="../hkb_address/hkb_address.html">
        <img src="../../images/detail_loaction.png">
        <span>淮海路555号汇京国际广场1层109-112室</span>
    </a>

    <a class="phone" href="../hkb_telephone/hkb_telephone.html"><img src="../../images/detail_phone.png"></a>

</div>