<div class="hkb_use_rules hkb_shadow">
    <div class="title"><img src="../../images/detail_rules.png">使用规则</div>
    <div>
        该会员卡为电子卡形式，购买后在商场门店现场付款使用，使用时通过嘉福APP或微信端扫有“嘉福”字样的二维码，输入金额后即可完成支付。如有问题，请咨询021-64810309嘉福卡业务部门咨询。
    </div>
</div>