<div class="jf_homepage_autoplay">


    <div class="jf_autoplay_images jf_autoplay_init">

        <a>
            <img src="../../images/banner_test_1.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_2.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_3.jpg">
        </a>

        <a>
            <img src="../../images/banner_test_4.jpg">
        </a>

    </div>

    <div class="jf_pagination">

    </div>

</div>

<script>

    jfAutoPlay.jfCarouselInit();

</script>