<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>使用指引</title>
</head>
<body style="background-color: #ffffff">

<%-include('../../component/hkb_use_guide/use_guide_explain.ejs')%>


</body>
</html>