


<!--操作成功-->


<div class="hkb_success_animation">


    <!--成功动画-->

    <div class="success_animation_right">

        <div class="swal2-icon swal2-success animate">

            <span class="line tip animate-success-tip"></span>

            <span class="line long animate-success-long"></span>

            <div class="placeholder">
 <!--               <div class="rectangle">
                    <div class="ball"></div>
                    <div class="ball2"></div>
                </div>-->

            </div>

            <div class="fix"></div>

        </div>

    </div>

    <!-- 动画 -->

<!--
    <div class="k-ball-holder3">
        <div class="k-ball7a"></div>
        <div class="k-ball7b"></div>
        <div class="k-ball7c"></div>
        <div class="k-ball7d"></div>
    </div>

    <div class="k-ball-holder4">
        <div class="k-ball7a"></div>
        <div class="k-ball7b"></div>
        <div class="k-ball7c"></div>
        <div class="k-ball7d"></div>
    </div>
-->
<!--
    <div class="loading right">
            <div class="k-line k-line9-1"></div>
            <div class="k-line k-line9-2"></div>
            <div class="k-line k-line9-3"></div>
            <div class="k-line k-line9-4"></div>
    </div>

    <div class="loading left">
        <div class="k-line k-line9-4"></div>
        <div class="k-line k-line9-3"></div>
        <div class="k-line k-line9-2"></div>
        <div class="k-line k-line9-1"></div>
    </div>

    -->

    <div class="load-3">
        <div class="k-line2 k-line12-1"></div>
        <div class="k-line2 k-line12-2"></div>
        <div class="k-line2 k-line12-3"></div>
        <div class="k-line2 k-line12-4"></div>
        <div class="k-line2 k-line12-5"></div>
        <div class="k-line2 k-line12-6"></div>
        <div class="k-line2 k-line12-7"></div>
        <div class="k-line2 k-line12-8"></div>
    </div>

    <div class="hkb_text_success">操作成功</div>



    <!--消费账单-->
    <div class="hkb_fail_text_bill">

        <div class="hkb_fail_bill font_org">
            <span class="fail_bill_text">金额：</span>
            <span class="fail_bill_text"> 125.00元</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">联华超市 凯旋路店</span>
        </div>



        <div class="hkb_fail_bill">
            <span class="fail_bill_text">收银员</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">2017/6/16 15:00:00</span>
        </div>
    </div>


    <!--关闭-->

    <div class="hkb_button_success" >

        <!-- 主要操作 -->

        <a class="main_btn" href="#"><span>关闭</span>

        </a>

        <!-- 次要操作-->

        <a class="secondary_btn" href="#"><span>查看订单</span>

        </a>

    </div>
</div>