
<!-- 操作成功 -->
<div class="success">
       <div class="success_circle hkb_alignment_center">


                  <div class="hkb_box">

                          <div class="hkb_duigou hkb_alignment_center"></div>

                 </div>

                 <div class="hkb_text">操作成功</div>


     </div>
          <a class= href="#"><span>关闭</span>

          </a>
     </div>