


<!--操作失败-->


<div class="hkb_success_animation">


    <!--成功动画-->

    <div class="success_animation_right">

        <div class="swal2-icon swal2-success animate">

            <span class="line tip animate-success-tip"></span>

            <span class="line long animate-success-long"></span>

            <div class="placeholder"></div>

            <div class="fix"></div>

        </div>

    </div>
    <div class="hkb_text_success">操作成功</div>

    <!--关闭-->

    <div class="hkb_button_success" >

        <a class="" href="#"><span>关闭</span>

        </a>

    </div>
</div>