<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>密码重置</title>
</head>
<body style="background: white">


<%-include('../../component/hkb_password/hkb_main_password.ejs')%>


</body>
</html>