<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>汇卡宝商城</title>
</head>
<body style="background-color: #FFFFFF">

<%-include('../../component/card_blank/card_blank.ejs')%>


</body>
</html>