<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>附近优惠</title>
</head>
<body>

<%-include('../../component/hkb_nearby/main_hkb_nearby.ejs')%>


</body>
</html>