

<!--操作失败-->



<div class="hkb_fail_animation">

    <!--失败动画-->

    <div class="fail_animation_wrong">

        <div class="swal2-icon swal2-error animate-error-icon">

             <span class="x-mark animate-x-mark">

                <span class="line left"></span>

                <span class="line right"></span>

             </span>
        </div>
    </div>

    <div class="hkb_text_fail">操作失败</div>

    <!--消费账单-->
    <!--消费账单-->
    <div class="hkb_fail_text_bill">

        <div class="hkb_fail_bill font_org">
            <span class="fail_bill_text">金额：</span>
            <span class="fail_bill_text"> 125.00元</span>
        </div>


        <div class="hkb_fail_bill">
            <span class="fail_bill_text">联华超市 凯旋路店</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">收银员</span>
        </div>

        <div class="hkb_fail_bill">
            <span class="fail_bill_text">2017/6/16 15:00:00</span>
        </div>
    </div>





    <!--关闭-->

    <div class="hkb_button_fail" >

        <!-- 主要操作 -->

        <a class="main_btn" href="#"><span>关闭</span>

        </a>

        <!-- 次要操作-->

        <a class="secondary_btn" href="#"><span>查看订单</span>

        </a>

    </div>
</div>