

<!--操作失败-->



<div class="hkb_fail_animation">

    <!--失败动画-->

    <div class="fail_animation_wrong">

        <div class="swal2-icon swal2-error animate-error-icon">

             <span class="x-mark animate-x-mark">

                <span class="line left"></span>

                <span class="line right"></span>

             </span>
        </div>
    </div>

    <div class="hkb_text_fail">操作失败</div>

    <!--关闭-->

    <div class="hkb_button_fail" >

        <a class="" href="#"><span>关闭</span>

        </a>

    </div>
</div>