<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>汇卡宝</title>
</head>
<body>

<%-include('../../component/hkb_loading/hkb_loading_animation.ejs')%>


</body>
</html>