<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../component/common/metaNormal.ejs') %>
    <title>付款码</title>
</head>
<body style="">


<%-include('../../component/hkb_codes/hkb_main_codes.ejs')%>


</body>
</html>