<!-- 客服电话 -->


<div class="hkb_number"  href="tel:021-56352415">
    <a class="number_section hkb_alignment_center">

        <div class="number_section_text">021-56352415</div>
        <div class="number_section_icon"><img src="../../images/phone.png"/> </div>

    </a>
    <a class="number_section hkb_alignment_center">

        <div class="number_section_text">021-56352415</div>
        <div class="number_section_icon"><img src="../../images/phone.png"/> </div>

    </a>

</div>