<div class="seller hkb_alignment_center">

    <div class="seller_images">
        <img src="../../images/seller.png"/>
        <div>合村日本料理 ( 虹桥店 )</div>
    </div>
    <!--<div class="seller_text">合村日本料理 ( 虹桥店 )</div>-->

</div>